# OS / junk
.DS_Store
Thumbs.db
AppData/
**/AppData/
*.log

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.apk
*.aab

# EAS
eas-build/

.env.local
.env

# Maestro test results
.maestro/results/
